
html, body {
	position: relative;
	color: white;
	text-align: center;
	margin: 0;
	background-repeat: no-repeat;
background-size: cover;
height: 100%;
background-position: center;
	    
}

header {
	/*background-color: #004b72;*/
	color: #fff;
	padding: 20px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.0); 
  backdrop-filter: blur(10px);
}

h1 {
	font-family: 'Google Sans';
}

.quote-container {
	margin: 0 auto;
	max-width: 600px;
	padding: 30px;
	font-family: 'Google Sans';
	background-color: rgba(255, 255, 255, 0.0); 
  backdrop-filter: blur(10px);
}

blockquote {
	font-style: italic;
	margin-bottom: 20px;
}

cite {
	display: block;
	text-align: right;
}

button{
				color: white;
				background-color: #004b72;
				border: none;
				border-radius: 6px;
				font-size: 16px;
				padding: 15px;
				
}

footer {
				/*background-color: #3c3c3c;*/
				background-color: rgba(255, 255, 255, 0.0); 
  backdrop-filter: blur(10px);
				color: #fff;
} 


@media only screen and (min-width: 768px) {

h1 {
				font-size: 60px;
}
.quote-container {
margin-top: 20px;
border-radius: 50px;
max-width: 600px;
padding: 50px;
background-color: rgba(255, 255, 255, 0); 
  backdrop-filter: blur(10px);
margin-bottom: 20px;
text-align: center;
}

blockquote {
	font-size: 48px; 
	line-height: 47px; 
	margin-bottom: 30px; 
}

cite {
	font-size: 35px; 
	line-height: 34px; 
	margin-top: 30px; 
}

button{
				color: white;
				background-color: #004b72;
				border: none;
				border-radius: 12px;
				font-size: 35px;
				padding: 28px;
				padding-left: 55px;
				padding-right: 55px;
}

footer {
				/*background-color: #004b72;*/
				background-color: rgba(255, 255, 255, 0.0); 
  backdrop-filter: blur(10px);
				color: #fff;
				font-size: 42px;
				padding: 20px;
				font-family: 'Google Sans';
				font-weight: bold;
} 

}


